@import 'tailwindcss/components';

body {
    min-height: 100vh;
    overflow-x: hidden;

    .portra-page {
        min-height: 100vh;
        @apply bg-green-100;

        .title {
            text-align: center;
            padding: 4px;
            font-size: 1.125rem;
            visibility: hidden;
        }
    }
}

[data-whatintent='mouse'] *:focus {
    outline: none;
}
