@import 'include-media';
@import 'tailwindcss/components';
@import './variables.scss';

body {
    min-height: 100vh;
    overflow-x: hidden;
    color: $color-primary-dark-2;

    .portra-page {
        min-height: 100vh;
        background-color: $color-green-pale;

        .title {
            text-align: center;
            padding: 4px;
            font-size: 1.125rem;
            visibility: hidden;
        }
    }

    @include media('<=420px') {
        h1 {
            @apply text-5xl;
        }

        font-size: 14px;
    }
}

[data-whatintent='mouse'] *:focus {
    outline: none;
}
