@import 'tailwindcss/components';

body {
    min-height: 100vh;
    overflow-x: hidden;

    .portra-page {
        min-height: 100vh;
        @apply bg-green-100;

        .home-link {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            animation: fadeIn 0.2s forwards 1.6s;

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    bottom: -5px;
                }

                100% {
                    opacity: 1;
                    bottom: 10px;
                }
            }
        }
    }
}

[data-whatintent='mouse'] *:focus {
    outline: none;
}
