// COLOR VARIABLES
$color-primary: #574f7d;
$color-primary-dark-1: #402f51;
$color-primary-dark-2: #332442;
$color-primary-alternative: #413b5e;

$color-blue-pale: #95adbe;
$color-green-pale: #e0f0ea;
$color-purple-pale: #f7f5fc;

$color-black-1: #2a2827;
$color-black-2: #444140;

$color-editor-gold: #f4be72;
$color-editor-black: #33302f;

$color-grey-light-1: #fdfdfd;
$color-grey-light-2: #cacaca;

$color-grey-dark-1: #555;
$color-grey-dark-2: #aaa;
