@import 'include-media';
@import '../styles/variables.scss';

#about-block {
    color: $color-grey-light-2;
    font-size: 0.875rem;
    background-color: $color-primary;

    .container {
        min-height: calc(100vh - 60vh);
        display: flex;
        box-shadow: 0 0 0.5rem rgb(42 40 39 / 30%);
    }

    .explorer {
        background-color: $color-editor-black;
        flex: 0 0 200px;

        .skills,
        .learning-plans {
            margin-bottom: 2em;

            .explorer-title {
                background-color: $color-black-2;
                color: $color-grey-light-1;
                padding: 4px 0;
                margin-bottom: 0.3em;
                padding-left: 1em;
                display: flex;
                align-items: center;
            }

            .tech {
                padding-left: 2.25em;
                display: flex;
                align-items: center;
                margin: 0.2em 0;
            }
        }

        .icon {
            width: 15px;
            height: 15px;
            margin-right: 0.5em;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .description {
        background-color: $color-black-1;
        width: 100%;
        font-size: 1rem;
        padding: 4em;
    }

    @include media('<=tablet') {
        .explorer {
            flex: 0 0 150px;
        }

        .description {
            padding: 2em;
        }
    }

    @include media('<=420px') {
        font-size: 0.7rem;

        .explorer {
            flex: 0 0 100px;

            .skills,
            .learning-plans {
                .explorer-title {
                    padding-left: 0.25em;
                }

                .tech {
                    padding-left: 1.5em;
                }
            }

            .icon {
                width: 15px;
                height: 15px;
                margin-right: 0.25em;
            }
        }

        .description {
            font-size: 0.8rem;
            padding: 2em 1.25em;
        }
    }
}
