@import '../styles/mixins.scss';

#contact-block {
    .social-links {
        @apply flex justify-center;

        a {
            @include link-hover;
            margin: 0 10px;
        }

        svg {
            width: 24px;
            height: auto;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}
