@import '../styles/variables.scss';
@import '../styles/mixins.scss';

#navbar {
    .main-nav {
        ul {
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                @apply font-medium tracking-wide mx-4;

                &:first-child {
                    margin-right: auto;
                }

                a {
                    @include link-hover;
                }
            }
        }

        .initial {
            display: inline-block;
            position: relative;

            &.first {
                background-color: black;
                color: white;
            }
        }
    }
}
