#navbar {
    // border: 1px solid red;

    .main-nav {
        ul {
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                &:first-child {
                    margin-right: auto;
                }

                margin: 0 2rem;
                @apply tracking-wide;
            }
        }

        .initial {
            display: inline-block;
            position: relative;

            &.first {
                background-color: black;
                color: white;
            }
        }
    }
}
