@import '../styles/variables.scss';
@import '../styles/mixins.scss';

#navbar {
    visibility: hidden;

    .main-nav {
        ul {
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                @apply font-medium tracking-wide mx-4;

                &:first-child {
                    margin-right: auto;
                }

                a {
                    @include link-hover;
                }
            }
        }

        .initials {
            transition: all 0.5s ease;

            &:hover {
                filter: invert(1);
            }
        }

        .initial {
            display: inline-block;
            position: relative;
            color: white;
            line-height: 1.35;

            &.first {
                background-color: $color-primary;
            }

            &.last {
                background-color: $color-primary-alternative;
            }

            &.full-stop {
                background-color: $color-primary-dark-2;
            }
        }
    }
}
