@import '../styles/variables.scss';

#title-block {
    height: calc(60vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    .title-name {
        color: $color-primary;
    }

    .title-tag {
        @apply text-center text-xl font-light tracking-wider;
    }
}
